/11_LavacaoDeCarro/target/
/Projeto de gestao de venda youtube/02_gestao-venda/target/
/Projeto de gestao de venda youtube/02_gestao-venda (copy)/target/
/Projeto de gestao de venda youtube/03_gestao-venda/target/
/Projeto de gestao de venda youtube/03_gestao-venda (copy)/target/
/Projeto de gestao de venda youtube/04_gestao-venda/target/
/Projeto de gestao de venda youtube/05_gestao-venda/target/
/Projeto de gestao de venda youtube/06_gestao-venda/target/
/salaDeAula/lavacao/PrjSistemaLavacao_parte1/nbproject/private/
/salaDeAula/sitemaVenda/PrjSistemaVendas_parte1/build/
/salaDeAula/sitemaVenda/PrjSistemaVendas_parte1/dist/
/salaDeAula/sitemaVenda/PrjSistemaVendas_parte1/nbproject/private/
/lavacaoDeCarroMeuProjetos/10_LavacaoDeCarro/target/
/lavacaoDeCarroMeuProjetos/11_LavacaoDeCarro/target/
/lavacaoDeCarroMeuProjetos/122_LavacaoDeCarro/build/
/lavacaoDeCarroMeuProjetos/122_LavacaoDeCarro/nbproject/private/
/lavacaoDeCarroMeuProjetos/13_LavacaoDeCarro/nbproject/private/
/LavacaoModificar/build/
/LavacaoModificar/dist/
/LavacaoModificar/nbproject/private/
/LavacaoModificarGabriel/build/
/LavacaoModificarGabriel/dist/
/LavacaoModificarGabriel/nbproject/private/
